---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LogoClould from "../components/LogoClould.astro";
import BentoGrid from "../components/BentoGrid.astro";
import PerformanceMetrics from "../components/PerformanceMetrics.astro";
import CTA from "../components/CTA.astro";
---

<Layout>
  <Hero />
  <LogoClould />
  <hr
    class="border-none h-px bg-gradient-to-r from-transparent via-zinc-700 to-transparent"
  />
  <BentoGrid />
  <div class="flex items-center gap-4 my-2">
    <hr
      class="flex-1 border-none h-px bg-gradient-to-r from-transparent to-zinc-700"
    />
    <span class="text-zinc-500 text-xs tracking-widest uppercase">and more</span
    >
    <hr
      class="flex-1 border-none h-px bg-gradient-to-r from-zinc-700 to-transparent"
    />
  </div>
  <PerformanceMetrics />
  <CTA />
</Layout>
